@import "variables.scss";

.titulo{
    font-weight: bold;
}
.titulo__Secciones{
    @extend .titulo;
}
.titulo__Principal{
    @extend .titulo;
    background-color: #1D1D1D;
    color: #FFFFFF;
    margin: 0;
    padding: 1rem;
}
.titulo__Cartas{
    @extend .titulo;
}
.piePagina{
    @extend .titulo__Principal;
}
.clasePrueba{
    color:white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn-outline-success{
    color: black;
    border-color: black;
}
.btn-outline-success:hover{
    background-color: black;
    border-color: black;
}
.footer-detalles{
    font-weight: normal;
    color: var(--bs-gray-300);
    font-size: 1rem;
}
.logosFooter{
   position: relative;
   width: 15rem;
   height: 5rem;
}
.bg-empresa{
   color: rgba(255, 255, 255, 0.548);
   background-repeat: no-repeat;
   background-size: cover;
   height: 40vh;
   h1{
    color: rgba(255, 255, 255, 0.788);
   }
}

.bg-tienda{
    @extend .bg-empresa;
    color: black;
    height: 75vh;
    h1{
        color: rgba(255, 255, 255, 0.801);
        font-size:2rem;
    }
}
.bg-tienda_item1{
    @extend .bg-tienda;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imagenes/tienda1.jpg); 
}
.bg-tienda_item2{
    @extend .bg-tienda;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imagenes/tienda2.jpg); 
}
.bg-tienda_item3{
    @extend .bg-tienda;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imagenes/tienda3.jpg); 
}
.bg-nosotros{
   @extend .bg-empresa;
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imagenes/somos1.jpg); 
}
.bg-meta{
    @extend .bg-empresa;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imagenes/somos2.jpg);
}
h1 p{
    margin: 0px;
    padding: 0px;
}
@media (max-width: 576px) {
    .bg-tienda{
        height: 175vh;
    }
}